.button-score-up {
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.button-score-down {
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
}
.button-increase-img {
    position: absolute;
    top: 182px;
    left: 16px;
}
.button-comment {
    margin-left: 8px;
}
.results {
    display: flex;
    justify-content: center;
    margin: 96px auto;
    background: $BGC_RESULT;
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    &-card {
        position: relative;
        width: 240px;
        height: 352px;
        margin: 24px 25px;
        background: $BGC_RESULT_CARD;

        &-img {
            width: 240px;
            height: 230px;
            img {
                width: 240px;
                height: 230px;
            }
        }
        &-id {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.342857px;
            padding: 13px 16px 8px;
            color: $COLOR_RESULT;
        }
        &-title {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.4px;
            color: #1e1f31;
            padding: 0 16px 5px;
        }
        &-button-wrapper {
            display: flex;
            margin: 0 16px;
            justify-content: space-between;
            align-items: center;
        }
        &-score-btn {
        }
        &-communication-btn {
        }
    }
}
