$BGC_HEADER_ICON: #322bb0;
$BGC_HEADER: #3e36dc;

$BGC_BUTTON_SEARCH: #f7f7f7;

$BGC_MAIN_PHOTO_DRAG: #1e1f31;

$BGC_SELECT_PHOTO_BTN: #3e36dc;

$BGC_RESULT_CARD: #e9e9ec;
$BGC_RESULT: #fafafa;
$COLOR_RESULT: #2b2c46;

$MAIN_GRAY: #55566b;
$MAIN_WHITE: #ffffff;
